table td, table th {
    border: 1px solid #ccc;
    padding: 5px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.danger{
  background: #dd9475;
  padding: 5px;
  color: white;
  display: block;
  
}

.success{
  background: #588550;
  padding: 5px;
  color: white;
  display: block;
  
}

.default{
  background: #cfcfcf;
  padding: 5px;
  color: white;
  display: block;
  
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    height: auto;
}
.mainAdmin{
    width: auto;
    padding: 5px;
    height: auto;
    border: grey solid 1px;
}

.alert{
	
    margin: 15px 0;
}